
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}


.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; 
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}


.center-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.center-button:hover {
  background-color: #0056b3;
}

#gl-canvas {
  border: 1px solid #ccc;
}
